# === Java & Maven ===
target/
*.class
*.jar
*.war
*.ear

# === IntelliJ IDEA ===
.idea/
*.iml
out/
gen/
.idea_modules/

# === Hệ điều hành (Rác hệ thống) ===
.DS_Store
Thumbs.db
desktop.ini

# === Log files ===
*.log