DB_URL=jdbc:mysql://localhost:3306/auction_system
DB_USERNAME=root
DB_PASSWORD=15042007
DB_POOL_SIZE=10
DB_CONNECTION_TIMEOUT=30000
DB_IDLE_TIMEOUT=600000
DB_MAX_LIFETIME=1800000

# API Server Port
API_PORT=8080

# Socket Server Port
SOCKET_PORT=18368
